* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;    
}




.padre  {

    background-color: blue;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    flex-wrap: wrap;
}

.hijo {
    width: 150px;
    height: 150px;
    background-color: crimson;
    border: 1px solid black;
    font-size: 30px;

}